# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Mac OS specific
.DS_Store

# Build artifacts
dist
dist-ssr

# Local environment variables
.env
.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
